@model ExercisePerson.Models.Person

@{
    ViewBag.Title = "Add New Person";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" />

    <br />

    <title>@ViewBag.Title</title>
    <h3>Add New Person</h3>
</head>

<body>
    <form name="name">
        <div class="row form-border">

            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="form-group">
                <div class="row">

                    <div class="col-sm-2">
                        <span style='margin-right:1.25em; display:inline-block;'>
                            <label>First Name:</label>

                            <input id="firstname" type="text" name="FirstName" />
                        </span>

                        <label>Last Name:</label>

                        <input id="lastname" type="text" name="LastName" />

                        <label>Date of Birth:</label>

                        <input id="date" type="date" name="DateOfBirth" />

                        <label>Email:</label>

                        <input id="Email" type="email" name="Email"  onclick="permutate(this.form);" />
                    </div>
                </div>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Add Person" class="btn btn-sm btn-primary" />
                <input type="button" value="Back to List" class="btn btn-sm btn-success" onclick="@("window.location.href='" + @Url.Action("Index", "Person") + "'");" />
            </div>
        </div>
    </form>
</body>
</html>